<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — Mateusz Grzymała</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav id="navtop" class="navbar fixed-top navbar-expand-lg navbar-light">
        <div class="container">
            <a href='@Url.Action("Index", "Home")' class="navbar-brand" style="padding:10px">
                <img src='@Url.Content("~/Images/logo2.png")' style="width:230px" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Aktualności", "Articles", "Articles", new { page = 1 }, new { @class = "navlink", attr = "attribute value" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Produkty", "Products", "Products", null, new { @class = "navlink" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("O Mnie", "About", "Home", null, new { @class = "navlink" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Portfolio", "Portfolio", "Home", null, new { @class = "navlink" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Kontakt", "Contact", "Home", null, new { @class = "navlink" })
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="body-content">
        @RenderBody()


    </div>

    <footer>
        <div class="container">
            <p>&copy; @DateTime.Now.Year — Created on <a href="@Url.Action("Login","Admin")" style="color:#999999;text-decoration:none;cursor:text">A</a><a href="@Url.Action("Index","Studia")" style="color:#999999;text-decoration:none;cursor:text ">S</a>P.NET</p>
        </div>
    </footer>
    <div id="scroll-top"  class="scroll-top" style="display: none;">
        ^
    </div>
    <script>
        window.addEventListener("scroll", function (event) {
            var scroll = this.scrollY;
            if (scroll > 20) {
                document.getElementById("navtop").classList.add("affix-top")
                $("#scroll-top").show();
            } else {
                document.getElementById("navtop").classList.remove("affix-top")
                $("#scroll-top").hide();
            }
        });
        $(document).ready(function () {
            $("#scroll-top").click(function () {
                $("html, body").animate({ scrollTop: 0 }, 600);
            })
        });
    </script>


</body>
</html>
