@model MyWebsite.Models.Purchase

@{
    ViewBag.Title = "Usuwanie";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 no-padding-left-right">
            @{Html.RenderAction("Menu", "Admin");}
        </div>
        <div class="col-9">
            <h2>Usuwanie</h2>

            <h3>Czy na pewno chcesz usunąć ten element?</h3>
            <div>
                <h4>Zamówienia</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Product.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Product.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.info)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.info)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Street)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Street)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.City)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Usuń" class="btn btn-default" /> |
                        @Html.ActionLink("Wróć do listy", "Index")
                    </div>
                }
            </div>
            </div>
        </div>
    </div>
